<p role="status">Current count: @currentCount</p>
<p role="status">Current2: @(currentCount)</p>

@if (currentCount > 3)
{
    <p>You win!</p>
}
<ul>
    @foreach (var item in items)
    {
        <li>@item.Name</li>
    }
</ul>

<button class="btn btn-primary" @onclick="I
IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="() => currentCount++">Click me</button>
<input @onchange="InputChanged" />
<p>@message</p>

@code {
    string message = "";

    void InputChanged(ChangeEventArgs e)
    {
        message = (string)e.Value;
    }
}

<input @bind="text" />
<button @onclick="() => text = string.Empty">Clear</button>
<p>@text</p>

@code {
    string text = "";
}

<counter @rendermode="InteractiveServer" />